body {
  margin-top: 10vh;
  font-family: 'Press Start 2P', cursive;
  background-color: #4b0082;
  color: white;
  text-align: center;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.app {
  text-align: center;
}

.game .choices {
  display: flex;
  justify-content: center;
  gap: 6vw;
}

.choice-button {
  width: 20%;
  /* Passe die Größe an */
  height: auto;
  margin: 0 15px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.choice-button:hover {
  transform: scale(1.2);
}

.result-display p {
  margin: 5px;
}

button {
  margin-top: 20px;
}

.fancy-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  padding: 15px 30px;
  color: #4b0082;
  background: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}


.fancy-button:hover {
  background-color: orange;
}

.fancy-button:active {
  transform: scale(1.3);
}